<p id="notice"><%= notice %></p>

<h1>Show Post</h1>

<div class="row">
  <div class="col s8">
    <div class="card amber lighten-5">
      <div class="card-content flow-text">
        <p><%= simple_format(@post.text) %></p>
      </div>
      <div class="card-action">
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to 'Edit', edit_post_path(@post), class: "waves-effect waves-light btn amber darken-2" %>
          <% end %>
          <%= link_to 'Back', posts_path, class: "waves-effect waves-light btn amber darken-2" %>
      </div>
    </div>
  </div>
</div>

